<p id="notice"><%= notice %></p>

<h1>Listing Ximes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ximes.each do |xime| %>
      <tr>
        <td><%= xime.name %></td>
        <td><%= xime.description %></td>
        <td><%= xime.picture %></td>
        <td><%= link_to 'Show', xime %></td>
        <td><%= link_to 'Edit', edit_xime_path(xime) %></td>
        <td><%= link_to 'Destroy', xime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xime', new_xime_path %>
